.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-gutter: stable;
}

body {
    background: linear-gradient(to bottom, #7dacd6 5%, #f4faff 35%, #f4faff 100%);
    background-attachment: scroll;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
	background: #f4faff;
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    border: 5px solid #f4faff;
	border-radius: 100vw;
	background: rgb(112, 127, 156, 0.55);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(112, 127, 156, 0.8);
}

.fullpage {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.header-container {
    display: flex; 
    align-items: baseline;
    gap: 20px; 
}

.large-header-hey {
    font-weight: 310;
    font-size: 3.5em;
    background-image: linear-gradient(to bottom, #1B006B, #3C85B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.large-header-name {
    font-size: 3.5em;
    background-image: linear-gradient(to bottom, #48367D, #37a9ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.intro-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 40px; 
}

.intro-text {
    font-weight: 400;
    padding-left: 30px;
    flex-grow: 1;
    text-align: left;
    max-width: 650px;
    color: rgb(112, 127, 156, 0.75);
    font-size: 1.7em;
    line-height: 1.4;
}

.profile-picture {
    flex-shrink: 0;
    height: 523px;
    width: 400px;
    border-radius: 30px;
    border: none;
    box-shadow: -15px 15px 60px -15px rgb(0 0 0 / 72%);
}


#portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
    padding-left: 300px;
    width: calc(100% - 300px);
}

.portfolio-entry, .graphic-design-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.graphic-design-section {
    margin-top: 8%;
}

.portfolio-header, .portfolio-web, .portfolio-graphic {
    font-weight: lighter;
    font-size: 4em;
    background-image: linear-gradient(to bottom, rgb(130 0 191 / 40%), rgb(65 194 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-left: 0;
    padding-left: 0;
}

.portfolio-web, .portfolio-graphic { 
    font-size: 2.5em;
}

.portfolio-entry img, .moncelour-section a, .architecture-section img {
    height: auto; 
    border-radius: 20px; 
}

.portfolio-entry img {
    transition: transform 0.3s ease;
}

.portfolio-entry img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#myImgLink-securevault {
    max-width: 60%;
    box-shadow: -15px 15px 40px -4px rgb(68 113 46 / 30%);
}


.moncelour-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.moncelour-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; 
    max-width: 40%;
}

.moncelour-header {
    color: rgb(101 115 143);
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: auto;
    margin-top: 0;
}

.moncelour-text {
    color: rgb(112, 127, 156, 0.75);
    font-size: 2.4vh;
}

#myImgLink-moncelour {
    max-width: 10vw;
    box-shadow: -6px 8px 46px -7px rgb(145 102 126 / 61%);
}


.architecture-section {
    display: flex; 
    align-items: center;
    padding: 0;
    margin-top: 10%;
    margin-left: 15%;
}

.architecture-section-text {
    padding-right: 20px; 
    max-width: 57%;
}

.architecture-header {
    color: rgb(101 115 143);
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: auto;
    margin-top: 0;
    text-align: right;
}

.architecture-text {
    color: rgb(112, 127, 156, 0.75);
    text-align: right;
    font-size: 2.4vh;
}

#myImgLink-architecture {
    max-width: 40%;
    height: auto;
    box-shadow: 15px 15px 60px -15px rgb(0 0 0 / 72%);
}

#see-more {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

#introduction-section {
    display: block;
}

#greeting-section {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
}

#portfolio-section {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social-section {
    align-self: flex-start;
    padding-left: 295px;
    font-size: 4em;
    font-weight: 10;
    background-image: linear-gradient(to bottom, rgb(130 0 191 / 40%), rgb(65 194 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
}

.social-section-entry {
    display: flex;
    margin-left: -390px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-section-entry h3 {
    color: rgb(101 115 143);
}

.social-section-entry img {
    transition: transform 0.3s ease;
}

.social-section-entry img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.social-section-linkedin .social-section-github {
    font-size: medium;
}

.social-section-email { 
    margin-top: -17px;
}

.social-section-email-address {
    color:#626262;
    cursor: pointer;
}

.social-section-email-address:hover {
    color:#74a6d8;
    text-shadow:-5px 2px 3px #7fe3ff, 5px -2px 3px #ff76f9c9;
    text-align:center;
}


.email-copy-notification {
    display: none;
    position: fixed;
    bottom: 20%;
    left: 100%;
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 30%);
    z-index: 1000; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.modal-securevault {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -90px;
    top: 0;
    width: 110%;
    height: 100%;
    background: rgba(128, 128, 128, 0.7);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal-securevault.show {
    display: flex;
    opacity: 1;
}

.modal-content-securevault {
    display: flex;
    position: relative;
    background: linear-gradient(to bottom, #ecffe2 0%, #ecffe2 25%, #e6e7eb 70%, #e6e7eb 100%);
    border: 1px solid #888;
    width: 70%;
    height: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.modal-securevault-text {
    max-width: 55rem;
    font-weight: 400;
    color: rgb(112 127 111 / 100%);
    text-align: left;
    font-size: 130%;
    width: 100%;
    margin-left: 8.5%;
    margin-top: 28%;
}

.carousel-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
    margin: 0;
}

.carousel-item {
    position: absolute;
    top: 5%;
    margin-top: 5rem;
    justify-content: center;
    gap: 3%;
    width: 100%;
}

.carousel-item img {
    width: 40%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
    box-shadow: 0 0px 40px 5px rgb(0 0 0 / 15%);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    color: rgb(112 127 111 / 75%);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
    z-index: 10;
    transition: 0.6s ease;
}

.prev {
    left: 2.5%;
}

.next {
    right: 2.5%;
}

.prev:hover, .next:hover {
    color: #707070;
}

.modal-content-securevault img:hover {
    transform: scale(1.1);
    z-index: 10;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.modal-architecture {
    display: flex;
    opacity: 0; 
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear, transform 0.25s linear;
    transform: scale(1); 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background: linear-gradient(to bottom, rgb(183 118 126 / 56%) 0%, #8e2a2ac7 30%, #923535c7 70%, rgb(183 118 126 / 56%) 100%);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-content-architecture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}

.modal-architecture.active {
    opacity: 1;
    visibility: visible; 
    transition-delay: 0s;
}

.modal-content-architecture img {
    width: calc(33.333% - 0px);
    max-width: 20%;
    max-height: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
    flex: 0 0 auto;
    align-items: center;
    object-fit: contain; 
    transition: transform 0.3s ease;
    cursor: zoom-in; 
    box-shadow: 0 0px 25px 10px rgb(0 0 0 / 25%);
}

.zoomed-in {
    transform: scale(2);
    transform-origin: center;
    z-index: 1010; 
    cursor: zoom-out;
    transition: transform 0.3s ease;
}



.close {
    color: rgb(112 127 111 / 75%);
    float: right;
    position: absolute;
    font-size: 60px;
    font-weight: light;
    right: 0.6em;
    top: 0.4em;
    z-index: 1011;
    margin-top: -1.4%;
    transition: 0.6s ease;
}

.close:hover, .close:focus {
    color: #707070;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-securevault h2 {
    text-align: center;
    margin-top: 0;
    background-image: linear-gradient(to bottom, #765fb9, #3d8bb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 300;
    font-size: 3em;
}

.fade-in-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 1.5s ease-out;
    will-change: opacity, transform;
}

.fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 768px) {
    .portfolio-header, .portfolio-web, .portfolio-graphic {
        font-size: 5vw;
    }

    .graphic-design-section {
        flex-direction: column;
    }

    #myImgLink-moncelour {
        max-width: 50%; 

    }

    .moncelour-section {
        flex-direction: column;
    }
}

.modal-content-architecture img:hover {
    transform: scale(1.1);
    z-index: 10;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.modal-content-architecture img.zoom-in {
    transform: scale(2);
    z-index: 20;
    cursor: zoom-out;
}
